*{
    box-sizing: border-box;
}
.icons-header a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0px 19px;
    font-weight: bold;
    
}

.icons-header{
    margin-top: 56px;
}

.header{
    padding: 50px 0px 46px;
    width: 100%;
    text-align: center;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: ;
    padding: 36px 0px 36px 0px;
    background-color: black;
    color: white;
    
}

.footer-icons a{
   color: white;
   text-decoration: none;
   padding: 10px;
}

.footer-icons{
    margin-right: 190px;
    
}

.footer-text{
    margin-left: 190px;
}

.home-background-img{
    background-color: thistle;
    height: 515px;
    width: 100%;
}

.home-text{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 334px;
    width: 960px;
    margin: auto;
    padding-left: 450px;
    padding-top: 50px;
    line-height: 40px;

}

.home-text p{
    background: black;
    color: white;
    
}

.home-text a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    height: 64px;
    width: 150px;
    background: #0ba39c;
    padding: 26px 27px;
    text-align: center;

}

.home-text h2{
    font-family: 'Poller One', cursive;
    font-size: 20px;
    background: #fff;
    text-align: center;
}

.home-text-1{
    width: 400.83px;
    text-align: center;
}

.home-text-2{
    width: 452px;
    text-align: center;
}

.home-text-3{
    width: 364.19px;
    text-align: center;
}

.home-gallery-all{
    
}
.home-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;

}

.gallery-img-text{
    text-align: center;
    padding: 20px;
}

.gallery-img-text a{
    text-decoration: none;
    font-family: 'Poller One', cursive;
    font-size: 20px;
    color: #000000;
}

.gallery-text{
    padding-top: 33px;
}

.about-tittle-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-tittle-2{
    font-family: 'Poller One', cursive;
    font-size: 35px;
    color: white;
    background: #000000;
    text-align: center;    
    margin-bottom: 25px;
    
    
}

.about-content{
    text-align: center;
}

.about-content-img img{
    border: 2px solid black;
}

.about-content-2{
    width: 600px;
    height: 620px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content-tittle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #252525;
    font-weight: bold;
    line-height: 35px;
    margin-top: 35px;
}

.content-text{
    line-height: 25px;
}

.gallery-img{
   text-align: center;
   padding-bottom: 24px;
   
}

.gallery-img-1 img{
    padding: 24px 12px 12px;
    
}

.blog-content-all{
       
    display: flex;
    justify-content: center;
    
}
.blog-content{
    text-align: center;
    border: 1px solid black;
    
}