*{
    box-sizing: border-box;
}
.icons-header a{
    text-decoration: none;
    font-family: "Arial Black", Gadget, sans-serif;;
    font-size: 14px;
    padding: 0px 19px;
    font-weight: bolder;
    color: black;
    
}

.icons-header{
    margin-top: 56px;
  

}



.header{
    padding: 50px 0px 46px;
    width: 100%;
    text-align: center;

}

.icons-header .link-active{
    color: #0ba39c !important;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 36px 0px 36px 0px;
    background-color: black;
    color: white;
    
}

.footer-icons a{
   color: white;
   text-decoration: none;
   padding: 10px;
}

.footer-icons{
    margin-right: 190px;
    
}

.footer-text{
    margin-left: 190px;
}

.home-background-img{
    background-color: thistle;
    height: 515px;
    width: 100%;
}

.home-text{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 334px;
    width: 960px;
    margin: auto;
    padding-left: 450px;
    padding-top: 50px;
    line-height: 40px;

}

.home-text p{
    background: black;
    color: white;
    
}

.home-text a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    height: 64px;
    width: 150px;
    background: #0ba39c;
    padding: 26px 27px;
    text-align: center;

}

.home-text h2{
    font-family: 'Poller One', cursive;
    font-size: 20px;
    background: #fff;
    text-align: center;
}

.home-text-1{
    width: 400.83px;
    text-align: center;
}

.home-text-2{
    width: 452px;
    text-align: center;
}

.home-text-3{
    width: 364.19px;
    text-align: center;
}

.home-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;

}

.gallery-img-text{
    text-align: center;
    padding: 20px;
}

.gallery-img-text a{
    text-decoration: none;
    font-family: 'Poller One', cursive;
    font-size: 20px;
    color: #000000;
}

.gallery-text{
    padding-top: 33px;
}

.about-tittle-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-tittle-2{
    font-family: 'Poller One', cursive;
    font-size: 35px;
    color: white;
    background: #000000;
    text-align: center;    
    margin-bottom: 25px;
    padding: 15px 28px 12px;
    
    
}

.about-content{
    text-align: center;
}

.about-content-img img{
    border: 2px solid black;
}

.about-content-2{
    width: 600px;
    height: 620px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content-tittle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #252525;
    font-weight: bold;
    line-height: 35px;
    margin-top: 35px;
}

.content-text{
    line-height: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    
}

.gallery-img{
   text-align: center;
   padding-bottom: 24px;
   
}

.gallery-img-1 img{
    padding: 24px 12px 12px;
    
}

.blog-post{
    height: 271px;
    display: flex;
    justify-content: center;
    border: 3px solid black;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}

.blog-img img{
    border-right: 3px solid black;
}

.blog-content{
    text-align: center;
    height: 265px;
  
    
}

.blog-content .content-text a{
    color: black;
}

.blog-content-button{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 8px 28px;
    background: black;
    color: white;
    font-weight: bold;
}

.contact-search{
    height: 61px;
    width: 620px;
    border: 2px solid black;
    text-align: center;
    
}

.contact-search-2{
    display: flex;
    justify-content: center;
    margin: 0 0 37px;
    
}

.contact-search-2 textarea{
    padding-top: 15px;
}

.contact-search-3{
    height: 219px;
    width: 620px;
    border: 2px solid black;
    text-align: center;
      
}

.contact-button-send{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 20px 28px;
    background: black;
    color: white;
    font-weight: bold;
    display: flex;
}

.modal{
    position: fixed;
    top: 50%;
    margin-top: -224px;
    left: 50%;
    margin-left: -360px;
    background-color:white;
    padding: 10px;
    display: none;
}

.modal-close{
    text-align: right;    
    margin-right: 5px;
}


